:root {
  --dark-navy-blue: #000021;
  --dust: #b09c72;
  --very-light-pink: #fafafa;
  --white-65: rgba(255, 255, 255, 0.65);
  --white: #ffffff;
}


@font-face {
  font-family: NotoSansKR;
  src: url('../font/notosanskr/NotoSansCJKkr-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansKR;
  src: url('../font/notosanskr/NotoSansCJKkr-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NotoSansKR;
  src: url('../font/notosanskr/NotoSansCJKkr-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../font/roboto/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: NanumSquareOTFEB;
  src: url('../font/nanumsquare/NanumSquareEB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NanumSquareOTFB;
  src: url('../font/nanumsquare/NanumSquareB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NanumSquareOTFR;
  src: url('../font/nanumsquare/NanumSquareR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: AppleSDGothicNeoB;
  src: url('../font/asdgothicneo/AppleSDGothicNeoB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: AppleSDGothicNeoEB;
  src: url('../font/asdgothicneo/AppleSDGothicNeoEB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: AppleSDGothicNeoL;
  src: url('../font/asdgothicneo/AppleSDGothicNeoL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: AppleSDGothicNeoR;
  src: url('../font/asdgothicneo/AppleSDGothicNeoR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

body {
  font-family: AppleSDGothicNeoR, sans-serif !important;
  background-color: #1d2022 !important;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.heysign-main .alert {
  padding: 0;
  top: 100px;
  position: absolute; /* or absolute */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.heysign-main .alert .pficon {
  display: none !important;
}

.heysign-main .alert .kc-feedback-text{
  line-height: 1.5;
  word-break: break-word;
}

.alert .kc-feedback-text {
  /*position: relative;*/
  /*left: 45px;*/
  /*top: 0;*/
  /*width: 230px;*/
}

.heysign-main .alert-error {
  background-color: #bbbbbb !important;
  border: none !important;
  color: #ffffff !important;
}

.heysign-main .alert-success {
  background-color: #ff7057 !important;
  border: none !important;
  color: #ffffff !important;
}

.heysign-main .alert-warning {
  background-color: #222222 !important;
  border: none !important;
  color: #ffffff !important;
}

.heysign-main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.heysign-main .heysign-content-footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.heysign-main .heysign-content-footer .heysign-content-footer-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: calc(65% - 10px);
}
.heysign-main .heysign-content-footer .heysign-content-footer-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  width: calc(35% - 10px);
}
.heysign-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.heysign-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #2f343e;
}

.heysign-header-img {
  width: 223px;
  height: 31px;
  object-fit: contain;
  background: url("../img/heysign-logo.svg") no-repeat center center;
}


.heysign-centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.heysign-horizon-centered {
  position: fixed; /* or absolute */
  left: 50%;
}

.heysign-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 450px) {
  .heysign-main form {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .heysign-content {
    width: 100%;
    padding: 0 20px 0 20px;
  }
}

@media (min-width: 450px) {
  .heysign-content {
    width: 600px;
  }
}

.heysign-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.heysign-flex-br{
  display: flex;
  width: 100%;
  height: 0;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-left-10{
  margin-left: 10px;
}
.margin-left-20{
  margin-left: 20px;
}
.margin-left-30{
  margin-left: 30px;
}
.margin-left-40{
  margin-left: 40px;
}
.margin-left-50{
  margin-left: 50px;
}
.margin-left-140{
  margin-left: 140px;
}
.margin-left-165{
  margin-left: 165px;
}
.margin-left-240{
  margin-left: 240px;
}
.margin-left-316{
  margin-left: 316px;
}
.margin-left-330{
  margin-left: 330px;
}
.margin-left-336{
  margin-left: 336px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}

.heysign-divider{
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 20px 0;
}

.heysign-content-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 34px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: -1.02px;
  text-align: left;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 10px;
}

.heysign-content-subtitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.21;
  letter-spacing: -1.02px;
  text-align: left;
  color: #888888;
  margin-top: 0;
  margin-bottom: 10px;
}

.heysign-content-input-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.heysign-content-input-label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 107px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 5;
  letter-spacing: -0.45px;
  color: #656d80;
}

.heysign-content-input-description{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 5;
  letter-spacing: -0.45px;
  color: #656d80;
  margin-left: 130px;
}

@media (max-width: 450px) {
  .heysign-content-input-text {
    width: 100%;
    margin-right: 10px;
  }
}

@media (min-width: 450px) {
  .heysign-content-input-text {
    width: 443px;
  }
}

.heysign-content-input-text {
  padding: 0;
  border-radius: 3px;
  border: solid 1px #000000;
  background-color: #191a1a;
  height: 50px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.33;
  letter-spacing: -0.6px;
  text-align: left;
  color: #888888;
}

.heysign-content-input-text input:-webkit-autofill,
.heysign-content-input-text input:-webkit-autofill:hover,
.heysign-content-input-text input:-webkit-autofill:focus,
.heysign-content-input-text input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0 1000px #191a1a inset !important;
  -webkit-text-fill-color: #ffffff !important;
}
.heysign-content-input-text input {
  width: 100%;
  height: 100%;
  background-color: #191a1a;
  color: #ffffff !important;
  border: none;
  padding: 3px 20px;
}
.heysign-content-input-text input:focus {
  text-decoration: none;
  color: #ffffff !important;
  outline: none;
  border: none;
}

.heysign-content-input-text input::placeholder {
  color: #888888;
}

.heysign-content-disabled{
  background-color: #bbbbbb !important;
}

.heysign-content-disabled input{
  color: #ffffff !important;
}


.heysign-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 2px;
  padding: 16px 20px 15px 20px;
  background-color: #ff7057;
  min-width: 86px;
}

.heysign-button span {
  width: auto;
  white-space: nowrap;
  height: 16px;
  font-family: NanumSquareOTFEB, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


.heysign-button-white {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  box-shadow: inset -1px -1px 1px 0 #d1d6e2, inset 0 0 1px 0 #e6e9f1;
  background-color: #ffffff;
  margin-top: 40px;
  text-align: center;
  padding: 17px 0;
}

.heysign-button-white span {
  width: 44px;
  height: 16px;
  font-family: NanumSquareOTFEB, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.heysign-content-hr {
  margin-top: 39px;
  margin-bottom: 40px;
  width: 100%;
  height: 1px;
  border: solid 1px #d1d6e2;
}

.heysign-link-text {
  height: 19px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.45px;
  text-align: left;
  color: #656d80;
  text-decoration: none;
  white-space: nowrap;
}

.heysign-link-text:hover {
  cursor: pointer;
}

.heysign-link-text span {
  border-bottom: solid 1px #656d80;
}

input[type=password] {
  font-family: sans-serif;
}

.dropdown-default {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 8px;
  object-fit: contain;
  background: url("../img/dropbox-btn-dark.svg") no-repeat center center;
}

.dropdown-clicked {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 8px;
  object-fit: contain;
  background: url("../img/dropbox-btn-clicked-dark.svg") no-repeat center center;
}

.heysign-content-hide{
  display: none !important;
}
.margin-top-155{
  margin-top: 155px !important;
}
.heysign-content-highlight {
  color: #ff593b;
}

.heysign-content-weak {
  color: red;
}

.heysign-content-normal {
  color: #ffbf56;
}

.heysign-content-strong {
  color: #7bbc2f;
}

.heysign-error {
  border: solid 1px #ff7057 !important;
}

.heysign-error-text {
  padding-left: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #a0141b;
  font-family: NanumSquareB, sans-serif;
  font-size: 12px;
}

.heysign-info-text {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ff593b;
}

.heysign-content-ib-vt {
  display: inline-block;
  vertical-align: top;
}


.heysign-content .heysign-password-strength {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
  margin-top: -29px;
  margin-right: 20px;
}

.heysign-content .heysign-password-strength-text {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.heysign-content .heysign-password-strength-value {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: right;
  margin-left: 10px;
}

.heysign-footer{
  border-top: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  padding: 16px 20px 15px 20px;
  background-color: #1d2022;
}
.heysign-footer .heysign-footer-copyright{
  width: 100px;
  height: 19px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.93;
  letter-spacing: -0.45px;
  text-align: left;
  color: #656d80;
}
