.heysign-content-verify-email {
}

.heysign-content-verify-email .heysign-content-subtitle {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #000000;
}
