.heysign-content-verify-email {
  width: 400px;
}

.heysign-content-verify-email .heysign-content-footer{
  justify-content: flex-end;
}

.heysign-content-verify-email .heysign-content-subtitle{
  display: inline-block;
}

@media (max-width: 450px) {
  .heysign-content-reset-password .heysign-content-footer .heysign-content-footer-left{
    width: calc(50% - 10px) !important;
  }
  .heysign-content-reset-password .heysign-content-footer .heysign-content-footer-right{
    width: calc(50% - 10px) !important;
  }
}