.heysign-content-verify-email {
  width: 400px;
}

.heysign-content-verify-email .heysign-content-footer{
  justify-content: flex-end;
}

.heysign-content-verify-email .heysign-content-subtitle{
  display: inline-block;
}